


.test-word {
    background-color: rgb(109, 242, 247);
}
.test-word-failed { 
    background-color: #f06279; 
}
.test-examples {
    background-color: rgb(109, 242, 247);
}
.test-examples-failed { 
    background-color: #f06279; 
}

.failed-opt {
    background-color: #b3b9b3;
}
.success-opt {
    background-color: #0dee2b;
    background-image: linear-gradient(to right, #59ff90 0%, #299b55 100%);
}
.falied-opt {
    background-color: #ee0d33;
    background-image: linear-gradient(to right, #59ff90 0%, #299b55 100%);
}